*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# MonoIcon 附加忽略
/res_apk_decoded/
/res_lsposed_log/
/res_original_apk_pkg/
*.log
*.zip
*.apk
app/build/
app/.cxx/
.kotlin/

# IDE 自动生成
/.idea/vcs.xml
/.idea/*.xml
